.banner {
    background-color: aquamarine;
    color: red;
    text-align: center;
    padding: 30px 0;
}

#techimage {
    height: 60vh;
    width: 55%;
}

#tech {
    color: blue;
    font-size: 70px;
}

.bold {
    font-weight: 900;
}